<h1>{{pageTitle}}</h1>
<!-- Conteúdo da página inicial -->



<button class="btn btn-success" onclick="mostrarSpinner(1000);">Iniciar Spinner por 1 segundos</button>



<script>
    // Exibe o spinner quando a página é carregada
    document.getElementById('spinner-overlay').style.display = 'block';

    // Faz uma requisição para a rota que simula o processamento
    fetch('/simular-processamento')
        .then(response => {
            // Esconde o spinner quando a resposta é recebida
            document.getElementById('spinner-overlay').style.display = 'none';
            return response.text();
        })
        .then(data => {
            console.log(data); // Aqui você pode manipular a resposta, se necessário
        })
        .catch(error => {
            console.error('Erro ao fazer requisição:', error);
        });
</script>