<footer class="main-footer">
    <strong>Copyright © <script>
                        document.write(new Date().getFullYear())
                    </script> <a href="https://juridicodiniz.com/infojurclientes">InfoJurCLIENTES</a>.</strong>
    Informações Jurídicas para Clientes - All rights reserved.   
    
    <div class="float-right d-none d-sm-inline-block">
      <b>Versão</b> 2.0
    </div>
  </footer>
