<aside class="main-sidebar sidebar-dark-primary elevation-4">


  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
          <a href=" ('home')}}" class="nav-link">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p>
              Página Inicial
            </p>
          </a>
        </li>


   
        <li class="nav-item ">
          <a href="/Cliente" class="nav-link {{#if (eq activePage  'cliente')}} active {{/if}}">
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <p>
              Clientes
            </p>
          </a>
        </li>

        <li class="nav-item ">
          <a href="#" class="nav-link ">
            <i class="fa fa-qrcode" aria-hidden="true"></i>
            <p>
              QrCode
            </p>
          </a>
        </li>




        <li class="nav-item">
          <a href="/Cadastrar" class="nav-link  {{#if (eq activePage  'cadastrar')}} active {{/if}}">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <p>
              Cadastrar
            </p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/" class="nav-link ">
            <i class="fa fa-list" aria-hidden="true"></i>
            <p>
              Listar Videos
            </p>
          </a>
        </li>




      </ul>
    </nav>

  </div>





</aside>